/* AS: Be consistent on formatting here! Looks good though! */
body {
  background-color: deeppink;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: deeppink;
  font-size: 60px;
  text-align: center;
  color: greenyellow;
  padding: 2px 0px;
  border-radius: 50px;
}

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: lemonchiffon;
}

.buttons {
  margin-top: 30px;
}

.btn {
  background-color: lemonchiffon;
  width: 250px;
  font-size: 20px;
  color: deeppink;
  border: 1px solid lemonchiffon;
  border-radius: 50px;
  margin: 10px 40px 50px 0;
  padding: 10px 10px;
}

.score {
  color: greenyellow;
  font-size: 40px;
  text-align: center;
}

.game-score {
  color: greenyellow;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.btn:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.btn:focus {
  outline: 0;
}
