body {
    background-color: lemonchiffon;
    color: deeppink;
}

ul {
    list-style-type: none;
}

li {
    padding: 20px 0;
}

button{
    padding: 5px;
    font-size: 12px;
    background-color: deeppink;
    border-color: lemonchiffon;
    color: lemonchiffon;
}